body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background 0.5s;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.dark-mode { background-color: #121212; color: #fff; }
.light-mode { background-color: #f4f4f4; color: #333; }

.screen {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 15px;
    background: #1e1e1e;
    box-shadow: 0 0 20px rgba(0,255,150,0.2);
    text-align: center;
}

.hidden { display: none; }

input, select, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    background: linear-gradient(45deg, #ff0080, #7928ca);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover { transform: scale(1.05); }

.recipe-card {
    background: #2a2a2a;
    margin: 10px;
    padding: 15px;
    border-right: 5px solid #00f2fe;
    cursor: pointer;
    border-radius: 8px;
}
.music-control {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.music-control button {
    width: auto;
    padding: 5px 15px;
    font-size: 0.8em;
    background: #444;
}

.recipe-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recipe-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.highlight-step {
    background-color: rgba(0, 255, 150, 0.3); /* רקע ירקרק שקוף */
    color: #00ff96; /* טקסט זוהר */
    padding: 5px;
    border-radius: 5px;
    transform: scale(1.02);
    transition: all 0.3s ease;
    font-weight: bold;
}

li {
    transition: all 0.3s ease;
    padding: 5px;
    list-style-position: inside;
}